@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

//functions
@mixin background {
  background-image: url("https://wallpapercave.com/wp/wp8203288.jpg");
  background-position: start;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  object-fit: none;
}
@mixin width($min, $width, $max) {
  min-width: $min;
  max-width: $max;
}
@mixin height($min, $height, $max) {
  min-height: $min;
  max-height: $max;
}

//variables
$font-title: "Cinzel", serif;
$font-text: "Montserrat", sans-serif;

//code
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @include background;
  @include width(100vw, 100vw, 100vw);
  @include height(100vh, 100vh, 100vh);
  font-family: $font-text;
}
